<%- layout("/layouts/boilerplate") %>
<body>
    <% if (allListings.length === 0) { %>

        <div class="text-center mt-5">
            <h4>No Results Found 😔</h4>
            
            <% if (search) { %>
            <p>No results found for "<strong><%= search %></strong>"</p>
            <% } %>

            <% if (category) { %>
            <p>No places available in "<strong><%= category %></strong>" category</p>
            <% } %>

            <a href="/listings" class="btn btn-outline-dark mt-3 back-btn" style="background-color: #2A9D8F;">
            Back to Home page
            </a>
        </div>

    <% } 
    else { %>
        <div class="filters-wrapper position-relative" id="filters">
            <% //!-- Left Arrow -- %>
            <button class="scroll-btn left-btn d-none" id="left-btn">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <div class="filters d-flex overflow-auto" id="filtersContainer">
                <a href="/listings?category=Trending" class="filter-link <%= category === 'Trending' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-fire"></i></div>
                        <p>Trending</p>
                    </div>
                </a>

                <a href="/listings?category=Rooms" class="filter-link <%= category === 'Rooms' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-bed"></i></div>
                        <p>Rooms</p>
                    </div>
                </a>

                <a href="/listings?category=Iconic Cities" class="filter-link <%= category === 'Iconic Cities' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-mountain-city"></i></div>
                        <p>Iconic Cities</p>
                    </div>
                </a>

                <a href="/listings?category=Boats" class="filter-link <%= category === 'Boats' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-sailboat"></i></div>
                        <p>Boats</p>
                    </div>
                </a>

                <a href="/listings?category=Mountains" class="filter-link <%= category === 'Mountains' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-mountain"></i></div>
                        <p>Mountains</p>
                    </div>
                </a>

                <a href="/listings?category=Castles" class="filter-link <%= category === 'Castles' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-brands fa-fort-awesome"></i></div>
                        <p>Castles</p>
                    </div>
                </a>

                <a href="/listings?category=Amazing Pools" class="filter-link <%= category === 'Amazing Pools' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-person-swimming"></i></div>
                        <p>Amazing Pools</p>
                    </div>
                </a>

                <a href="/listings?category=Camping" class="filter-link <%= category === 'Camping' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-tent"></i></div>
                        <p>Camping</p>
                    </div>
                </a>

                <a href="/listings?category=Farms" class="filter-link <%= category === 'Farms' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-cow"></i></div>
                        <p>Farms</p>
                    </div>
                </a>

                <a href="/listings?category=Lake" class="filter-link <%= category === 'Lake' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-water"></i></div>
                        <p>Lake</p>
                    </div>
                </a>

                <a href="/listings?category=Arctic" class="filter-link <%= category === 'Arctic' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-snowflake"></i></div>
                        <p>Arctic</p>
                    </div>
                </a>

                <a href="/listings?category=Beach" class="filter-link <%= category === 'Beach' ? 'active' : '' %>">
                    <div class="filter text-center">
                        <div><i class="fa-solid fa-umbrella-beach"></i></div>
                        <p>Beach</p>
                    </div>
                </a>
            </div>
            <%//!-- Right arrow and checkbox grouped --%>
            <div class="right-controls">
                <button class="scroll-btn right-btn d-none" id="right-btn">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>

                <div class="tax-toggle">
                    <div class="form-check-reverse form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                        <label class="form-check-label" for="switchCheckDefault">
                            Display total after taxes
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(listing of allListings){%>
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card listing-card">
                        <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_image" style="height:20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <h5 class="card-title"><%=listing.title%></h5>
                            <p class="card-text">
                                &#8377;<%= Number(listing.price || 0).toLocaleString("en-IN") %>
                                <i class="tax-info"> &nbsp;&nbsp; +18% GST</i>
                            </p>
                        </div>
                    </div>
                </a>
            <%}%>
        </div>
    <% } %>
</body>