<%- layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col col-8 offset-2 mt-3">
            <h2>Create a New Listing</h2>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Enter Your Title" type="text" required class="form-control">
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                    <div class="invalid-feedback">Please enter a valid title.</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter Your description" required class="form-control"></textarea>
                    <div class="invalid-feedback">Please enter a valid Description.</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input name="listing[image]" placeholder="Enter Your image URL/Link" type="file" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Enter Price" required type="number" class="form-control">
                        <div class="invalid-feedback">Please enter a valid Price.</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="Enter Your Country Name" required type="text" class="form-control">
                        <div class="invalid-feedback">Please enter the Country name.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Enter the Location" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter the Location.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label"><strong>Select Categories</strong></label>

                    <% const categories = [
                        "Trending",
                        "Rooms",
                        "Iconic Cities",
                        "Boats",
                        "Mountains",
                        "Castles",
                        "Amazing Pools",
                        "Camping",
                        "Farms",
                        "Lake",
                        "Arctic",
                        "Beach"
                    ]; %>

                    <div class="row">
                        <% categories.forEach(cat => { %>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input 
                                        class="form-check-input"
                                        type="checkbox"
                                        name="listing[category]"
                                        value="<%= cat %>"
                                        id="<%= cat %>">

                                    <label class="form-check-label" for="<%= cat %>">
                                        <%= cat %>
                                    </label>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <div class="invalid-feedback d-block">
                        Please select at least one category.
                    </div>
                </div>
                <button type="submit" class=" mt-3 add-btn btn btn-dark mb-5">Add</button>
                <br>
            </form>
        </div>
    </div>
</body>