<%- layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2 mt-3">
            <div class="card col-10 offset-1 listing-card" >
                <h3><%=Listings.title%></h3>
                <img src="<%=Listings.image.url%>" class="card-img-top show-img" alt="Listing_image">
                <div class="card-body">
                    <!-- <h5 class="card-title"><%=Listings.title%></h5> -->
                    <p class="card-text">
                        <i>Owned by: <%=Listings.Owner.username%></i>
                    </p>
                    <p class="card-text">
                        <%=Listings.description%><br>
                        &#8377; <%= Number(Listings.price || 0).toLocaleString("en-IN") %><br>
                        <%=Listings.location%><br>
                        <%=Listings.country%><br>
                    </p>
                    <% if(currUser && currUser._id.equals(Listings.Owner._id)){ %>
                        <div class="btns">
                            <a href="/listings/<%=Listings._id%>/edit" class="btn btn-dark mb-3 row-1 edit-btn">Edit</a>&nbsp;&nbsp;
                            <form method="post" action="/listings/<%=Listings._id%>?_method=delete">
                                <button type="submit" class="btn btn-dark">Delete</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>            
        </div>
        <div class="col-md-8 mx-auto ">
            <% if(currUser){ %>
                <hr>
                <h4>
                    Leave a Review
                </h4>
                <form method="post" action="/listings/<%=Listings._id%>/reviews" class="needs-validation" novalidate>
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <fieldset class="starability-slot">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea class="form-control" name="review[Comment]" id="Comment" cols="30" rows="5" placeholder="Enter Your Comment." required></textarea>
                        <div class="invalid-feedback">Please add some comment for review.</div>
                    </div>
                    <button class="btn btn-outline-dark" type="submit">Submit</button>
                </form>
                <hr>
            <% } %>
            <% if(Listings.reviews.length>0) {%>
                <h4>All Reviews</h4>
                <div class="row">
                    <% for(review of Listings.reviews){ %>
                        <div class="card col-5 mb-3 ms-3">
                            <div class="card-body">
                                <div class="card-title"><strong>@</strong><%=review.author.username%></div>
                                <p class="card-text starability-result" data-rating="<%=review.rating%>"></p>
                                <p class="card-text"><%=review.Comment%></p>
                            </div>
                            <form class="mb-3" method="post" action="/listings/<%= listing._id%>/reviews/<%=review._id%>?_method=delete">
                                <button class="btn btn-sm btn-dark">Delete</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>              </div>
        <div class="col-md-8 mx-auto">
            <h3>Where you'll be</h3>
            <div id="map" class="mb-5" data-coordinates='<%- JSON.stringify(Listings.geometry.coordinates) %>' data-location="<%= Listings.location%>" data-title="<%= Listings.title %>" style="height: 500px; margin-top:20px;"></div>
        </div>
    </div>
</body>
